<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Calculator</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />

    <style>
      .alert {
        background: green;
        padding: 1rem;
        border-radius: 5px;
        color: white;
        margin: 1rem;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3>Alineamiento de secuencias</h3>
    </div>

    <!-- Form -->
    <div class="container">
      <form action="/send" method="POST" enctype=multipart/form-data>
        <label for="Number One">Ingrese la cadena</label>
        <input
          type="text"
          placeholder="First Number"
          class="u-full-width"
          name="num1"
        />
        <input type="file" name="file" accept=".fasta"/> 
        <label for="Number Two">Second Number</label>
        <input
          type="text"
          placeholder="Second Number"
          class="u-full-width"
          name="num2"
        />
        <input type="file" name="file1" accept=".fasta"/> 

        <label for="Operation">Metodo</label>
        <select class="u-full-width" name="operation">
          <option value="add">Alineamiento Local</option>
          <option value="subtract">Alineamiento Global</option>
          <option value="multiply">BLAST</option>
          <option value="divide">MUSCLE</option>
          <option value="jukes">Jukes-cantor model</option>
          <option value="kimura">Kimura model</option>
        </select>

        <input type="submit" value="Alinear" id="calc_btn" />
        <br />
        <div class="alert">
          Sequencia 1: {{ sum }}
          <br>
          Sequencia 2: {{ seq }}
          <br>
          SCORE : {{ total }}
        </div>
      </form>
    </div>
  </body>
</html>